<%- include('partials/header.ejs'); -%>

    <article>
        <h2>Book Title</h2>
        <p>Author: Author's Name</p>
        <p>Rating: 5/5</p>
        <p>Review: Your review goes here...</p>
    </article>

    <%- include('partials/footer.ejs'); -%>