body {
    background-color: #121212;
    /* Dark background color */
    color: #FFFFFF;
    /* Text color */
    font-family: Arial, sans-serif;
    /* Choose your preferred font */
}

header {
    background-color: #1F1F1F;
    /* Darker header color */
    padding: 20px;
}
 /* #FF5733; */
main {
    padding: 20px;
}

footer {
    background-color: #1F1F1F;
    /* Darker footer background color */
    padding: 10px;
    text-align: center;
}